In [9]:
#data pulled from https://data.census.gov/table?y=2021&d=ACS+5-Year+Estimates+Data+Profiles
import pandas as pd
df = pd.read_csv('zipcode_sample.csv')
df.query('garden_num >= 17').to_csv('zipcode_top.csv')

In [3]:
df.garden_num.median()
#median number of garden per zipcode with active garden is 3

NameError: name 'df' is not defined

In [21]:
df.zipcode.count()

91

In [57]:
#There are at least 541 active gardens in NYC, so half is 271
df.query('median_household_income < 60000').garden_num.sum()

289

In [158]:
print(len(df.query('garden_num == 1')))
#33 zipcodes with only 1 active garden each 

print(len(df.query('garden_num <= 10')))
#76 zipcodes with 10 or fewer active gardens each

print(len(df.query('garden_num > 10')))
#15 zipcodes with more than 10 active gardens each

33
76
15

In [237]:
print(len(df.query('borough == "Q"')))
print(len(df.query('garden_num == 1 and borough == "Q"')))
print(len(df.query('garden_num <= 10 and garden_num >= 2 and borough == "Q"')))
#17 zipcodes in Queens with active garden
#8 zipcodes in Queens with only 1 active garden each
#9 zipcodes in Queens with between 2-10 active gardens each
#0 zipcodes in Queens with more than 10 active garden each

17
8
9

In [241]:
print(len(df.query('borough == "B"')))
print(len(df.query('garden_num == 1 and borough == "B"')))
print(len(df.query('garden_num <= 10 and garden_num >= 2 and borough == "B"')))
print(len(df.query('garden_num > 10 and borough == "B"')))
#29 zipcodes in Brooklyn with active garden
#8 zipcodes in Brooklyn with only 1 active garden each
#13 zipcodes in Brooklyn with between 2-10 active gardens each
#8 zipcodes in Queens with more than 10 active garden each

29
8
13
8

In [242]:
print(len(df.query('borough == "X"')))
print(len(df.query('garden_num == 1 and borough == "X"')))
print(len(df.query('garden_num <= 10 and garden_num >= 2 and borough == "X"')))
print(len(df.query('garden_num > 10 and borough == "X"')))
#21 zipcodes in Bronx with active garden
#8 zipcodes in Bronx with only 1 active garden each
#10 zipcodes in Bronx with between 2-10 active gardens each
#3 zipcodes in Bronx with more than 10 active gardens each

21
8
10
3

In [243]:
print(len(df.query('borough == "M"')))
print(len(df.query('garden_num == 1 and borough == "M"')))
print(len(df.query('garden_num <= 10 and garden_num >= 2 and borough == "M"')))
print(len(df.query('garden_num > 10 and borough == "M"')))
#21 zipcodes in Manhattan with active garden
#9 zipcodes in Manhattan with only 1 active garden each
#8 zipcodes in Manhattan with between 2-10 active gardens each
#4 zipcodes in Manhattan with more than 10 active gardens each

21
9
8
4

In [244]:
print(len(df.query('borough == "R"')))
print(len(df.query('garden_num == 1 and borough == "R"')))
print(len(df.query('garden_num <= 10 and garden_num >= 2 and borough == "R"')))
print(len(df.query('garden_num > 10 and borough == "R"')))
#3 zipcodes in Staten Island with active garden
#0 zipcode in Staten Island with only 1 active garden 
#3 zipcodes in Staten Island with between 2-10 active gardens each
#0 zipcode in Staten Island with more than 10 active gardens each

3
0
3
0

In [174]:
ratio = (df.garden_num / df.population * 100000).round(2)
ratio.median()
#The median ratio of active gardens to 100,000 people ratio

5.82

In [172]:
ratio.sort_values(ascending=False).head(10)
#the 10 zipcodes with the top active gardens to 100,000 people ratio

1     63.33
8     45.89
0     45.04
4     30.38
2     30.36
10    29.93
3     23.40
15    23.37
12    22.50
7     21.71
dtype: float64

In [120]:
df.query('index == 1 \
        or index == 8 \
        or index == 0 \
        or index == 4 \
        or index == 2 \
        or index == 10 \
        or index == 3 \
        or index == 15 \
        or index == 12 \
        or index == 7').to_csv('top_ratio.csv')

# index 1: 10009 with 63.33 
# index 8: 10035 with 45.89 
# index 0: 11207 with 45.04  
# index 4: 10027 with 30.38  
#index 2: 11233 with 30.36 
#index 10: 10451 with 29.93 
#index 3: 11221 with 23.4 
#index 15: 10455 with 23.37
#index 12: 11216 with 22.5 
#index 7: 11212 with 21.71

In [160]:
df_top = pd.read_csv('top_ratio.csv')
garden_pop_ratio = [45.04, 63.33, 30.36, 23.4, 30.38, 21.71, 45.89, 29.93, 22.5, 23.37]
df_top['garden_pop_ratio'] = garden_pop_ratio
df_top

,original_index,garden_num,zipcode,borough,population,median_household_income,median_age,hispanic_or_latino,white_alone,black_alone,asian_alone,garden_pop_ratio
0,0,44,11207,B,97690,45616,35.0,34.4,5.1,55.2,1.5,45.04
1,1,38,10009,M,60000,77551,37.0,24.5,50.8,6.8,12.9,63.33
2,2,26,11233,B,85633,52380,34.1,15.9,11.4,67.7,1.3,30.36
3,3,21,11221,B,89728,66923,32.1,32.4,20.0,39.5,4.4,23.40
4,4,20,10027,M,65840,58435,31.0,25.8,26.1,35.3,8.6,30.38
5,7,17,11212,B,78296,30733,38.4,17.0,3.2,73.3,1.1,21.71
6,8,17,10035,M,37042,32555,36.3,44.0,13.1,36.4,3.7,45.89
7,10,15,10451,X,50118,33945,34.3,56.1,4.2,36.9,1.2,29.93
8,12,14,11216,B,62210,84661,34.2,12.8,30.3,46.5,4.5,22.50
9,15,10,10455,X,42781,30741,31.6,73.0,2.0,22.8,0.8,23.37

In [250]:
top_zipcode_latitude = [40.6655, 40.7275, 40.6796, 40.6903, 40.8139, 40.6639, 40.7941, 40.8187, 40.6788, 40.8148]
df_top['top_zipcode_latitude'] = top_zipcode_latitude

top_zipcode_longitude = [73.8919, 73.9801, 73.9213, 73.9272, 73.9624, 73.9154, 73.9272, 73.9272, 73.9507, 73.9081]
df_top['top_zipcode_longitude'] = top_zipcode_longitude

df_top.to_csv('top_ratio.csv')

In [142]:
df_top.borough.value_counts()
#Brooklyn: 50%
#Manhattan: 30%
#Bronx: 20%

borough
B    5
M    3
X    2
Name: count, dtype: int64

In [203]:
print(df_top.median_household_income.median())
#The median of median household income for these 10 zipcodes is around $49,000.

print(df_top.median_age.median())
#The median of median age is around 34 years old.

print(df_top.hispanic_or_latino.median())
#The median percentage of the Latino/Hispanic population is around 29.1%.

print(df_top.white_alone.median())
#The median percentage of the white alone population is 12.3%

print(df_top.black_alone.median())
#The median percentage of the black alone population is 38.2%

print(df_top.asian_alone.median())
#The median percentage of the Asian alone population is 2.6%

48998.0
34.25
29.1
12.25
38.2
2.6

In [170]:
df_top.garden_pop_ratio.sort_values(ascending=False).head(1)
df_top.query('garden_pop_ratio == 63.33')
#Top: with 38 active gardens in East Village, around 63 per 100,000 people here can access an active community garden

,original_index,garden_num,zipcode,borough,population,median_household_income,median_age,hispanic_or_latino,white_alone,black_alone,asian_alone,garden_pop_ratio
1,1,38,10009,M,60000,77551,37.0,24.5,50.8,6.8,12.9,63.33

In [191]:
ratio.sort_values(ascending=True).head(10)
#the zipcodes with the fewest active gardens to 100,000 people ratio (in zipcode with active garden)

80    0.92
85    0.98
81    1.06
67    1.07
79    1.09
78    1.17
60    1.24
63    1.27
74    1.31
75    1.33
dtype: float64

In [177]:
df.query('index == 80 \
        or index == 85 \
        or index == 81 \
        or index == 67 \
        or index == 79 \
        or index == 78 \
        or index == 60 \
        or index == 63 \
        or index == 74 \
        or index == 75').to_csv('bottom_ratio.csv')

In [195]:
df_bottom = pd.read_csv('bottom_ratio.csv')
garden_pop_ratio = [1.24, 1.27, 1.07, 1.31, 1.33, 1.17, 1.09, 0.92, 1.06, 0.98]
df_bottom['garden_pop_ratio'] = garden_pop_ratio
df_bottom

,original_index,garden_num,zipcode,borough,population,median_household_income,median_age,hispanic_or_latino,white_alone,black_alone,asian_alone,garden_pop_ratio
0,60,1,11355,Q,80918,46963,44.9,15.0,7.5,2.1,73.6,1.24
1,63,1,10462,X,78470,59032,35.5,47.9,10.9,22.3,14.8,1.27
2,67,1,11220,B,93584,57046,35.9,39.3,15.5,1.8,41.9,1.07
3,74,1,11375,Q,76091,96321,44.1,14.5,49.8,2.6,28.5,1.31
4,75,1,10469,X,75290,70415,40.3,28.3,9.4,53.3,5.4,1.33
5,78,1,11229,B,85538,69076,41.0,9.2,59.3,5.4,23.2,1.17
6,79,1,11230,B,91789,61017,35.2,10.9,62.4,7.5,15.2,1.09
7,80,1,11385,Q,109111,77350,36.2,46.6,42.6,2.0,6.9,0.92
8,81,1,11234,B,94254,86185,41.7,9.1,34.6,44.1,8.0,1.06
9,85,1,10467,X,102209,42639,34.4,52.2,9.2,28.9,6.2,0.98

In [196]:
df_bottom.borough.value_counts()
#Brooklyn: 40%
#Queens: 30%
#Bronx: 30%

borough
B    4
Q    3
X    3
Name: count, dtype: int64

In [204]:
print(df_bottom.median_household_income.median())
#The median of the median household income for these 10 zipcodes is around $65,000.

print(df_bottom.median_age.median())
#The median of median age is around 38 years old.

print(df_bottom.hispanic_or_latino.median())
#The median percentage of the Latino/Hispanic population is around 21.7%.

print(df_bottom.white_alone.median())
#The median percentage of the white alone population is 25.1%

print(df_bottom.black_alone.median())
#The median percentage of the black alone population is 6.5%

print(df_bottom.asian_alone.median())
#The median percentage of the Asian alone population is 15%

65046.5
38.25
21.65
25.05
6.45
15.0

In [200]:
df_bottom.garden_pop_ratio.sort_values(ascending=True).head(1)
df_bottom.query('garden_pop_ratio == 0.92')

,original_index,garden_num,zipcode,borough,population,median_household_income,median_age,hispanic_or_latino,white_alone,black_alone,asian_alone,garden_pop_ratio
7,80,1,11385,Q,109111,77350,36.2,46.6,42.6,2.0,6.9,0.92

In [252]:
df_zipcode = pd.read_csv('all_zipcode.csv')
df_zipcode

    garden_num  zipcode  population
0           44    11207       97690
1           38    10009       60000
2           26    11233       85633
3           21    11221       89728
4           20    10027       65840
..         ...      ...         ...
86           1    10024       63916
87           1    10033       60739
88           1    11102       27876
89           1    10475       44509
90           1    10014       29815

[91 rows x 3 columns]

In [265]:
ratio_zip = (df_zipcode.garden_num / df_zipcode.population * 100000).round(2)
df['ratio'] = ratio_zip
df.to_csv('zipcode_sample.csv')